<div class="span4 well" data-bind="with:contact">
    <p><strong data-bind="text:FirstName()"></strong> <strong data-bind="text:LastName()"></strong></p>

    <p data-bind="text:Title()"></p>

    <p>Company: <span data-bind="text:getAccount()"></span></p>

    <p>Email: <a data-bind="text:Email, attr:{href:'mailto:' + Email()}"></a></p>

    <p>Phone: <a data-bind="text:Phone(), attr:{href: 'tel:' + Phone()}"></a></p>

    <p>
        <a class="btn" data-bind="attr:{href: '#/edit/' + Id}">Edit</a>
        <a class="btn btn-primary" href="#/contacts">Back to Contacts</a>
    </p>
</div>

<!--<div class="span4 well" data-bind="with:contact">-->
<!--<p><strong data-bind="text:FirstName()"></strong> <strong data-bind="text:LastName()"></strong></p>-->
<!--<input type="text" name="FirstName" data-bind="value:FirstName, valueUpdate:'afterkeydown'"/>-->
<!--<p data-bind="text:Title()"></p>-->

<!--<p data-bind="text:FirstName()"></p>-->
<!--<button data-bind="disable:FirstName() == ''"-->
<!--class="btn btn-primary">Save-->
<!--</button>-->

<!--<button data-bind="disable:isValid()"-->
<!--class="btn btn-primary">Save-->
<!--</button>-->


<!--</div>-->


<!--<button data-bind="disable:test1"-->
<!--class="btn btn-primary">Save-->
<!--</button>-->

<!--<div class="span4 well">-->
<!--<p><strong data-bind="text:contact().FirstName"></strong> <strong data-bind="text:contact().LastName"></strong></p>-->

<!--<p data-bind="text:contact().Title"></p>-->
<!--<p>Company: <span data-bind="text: (contact().Account && contact().Account.Name)"></span></p>-->

<!--<p>Email: <a data-bind="text:contact().Email, attr:{href:'mailto:' + contact().Email}"></a></p>-->

<!--<p>Phone: <a data-bind="text:contact().Phone, attr:{href: 'tel:' + contact().Phone}"></a></p>-->

<!--<p>-->
<!--<a class="btn" data-bind="attr:{href: '#/edit/' + contact().Id)}" >Edit</a>-->
<!--<a class="btn btn-primary" href="#/contacts">Back to Contacts</a>-->
<!--</p>-->
<!--</div>-->